html{
    font-size: 16px;
}

/*====================================================*/
.navigation{
    position: fixed;
    top: 0; right: 0; left: 0;
    padding: 0 3rem;

    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(5, 1fr);

    z-index: 110;

    color: rgba(0, 0, 0, 0.6);
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.21);
}

.brand{
    cursor: pointer;

    display: flex;
}

.logo{
    width: 4rem;
    height: 4rem;
}

.links{
    grid-column: 3 / span 2;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.links a, .links a:hover{
    margin-right: 1rem;

    font-family: 'Neris_semibold';
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    text-decoration: none;

    color: rgba(0, 0, 0, 0.6);
}

.cart{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.cart a:first-child{
    display: flex;

}

.cart-logo{
    height: 20px;
    cursor: pointer;
}

.items{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 20px;
    width: 20px;

    border-radius: 50%;

    font-size: 70%;
    background-color: rgba(221, 68, 92, 0.9);
    color: white;
}

.cart-items{
    position: absolute;
    top: 0;  right: 0;

    margin-top: 80px;
    padding: 0.5rem;

    width: 22rem;
    max-height: 85vh;

    display: none;
    flex-direction: column;


    z-index: 100;
    overflow-y: scroll;
    
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 3px;

    background-color: white;
}

.cart-items > span:first-child{

    font-family: 'Neris_semibold';
    font-size: 1.4rem;
    text-align: center;
    line-height: 3rem;

    color: rgba(0, 0, 0, 0.6);
}

.cart-items thead{
    font-family: 'Roboto_reg';
    font-size: 0.9rem;
}

.cart-items tbody{
    font-family: 'Roboto_Slab';
    font-size: 0.8rem;
}

.total{
    align-self: flex-end;

    font-family: 'Neris_semibold';
    font-size: 1.2rem;
    color: rgba(221, 68, 92, 0.9);
}

.clean{
   align-self: flex-end;
}


.cart-items .cart-btn{
    width: 100%;

    padding: 0.5rem 1rem;
    margin: 2rem 0 0 0;

    display: block;

    text-align: center;

    background-color: rgba(221, 68, 92, 0.9);
    color: white;
}
