{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    {% if type == 'beer' %}
        <title>{{ seo.beer_title }}</title>
        <meta name="descritpion" content="{{ seo.catalog_desc }}">
    {% else %}
        <title>{{ seo.snack_title }}</title>
        <meta name="descritpion" content="{{ seo.snack_desc }}">
    {% endif %}

{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
{% endblock %}

{% block content %}
<section class="content">
    {% if type == 'beer' %}
        <div class="beer-list">
            {% for beer in products %}
                <div class="product">
                    <a href="{{ beer.get_absolute_url }}" class="product-link">
                        <div class="product-image">
                            {% if beer.best_seller == True %}
                                <span class="best-badge">
                                    <img class="badge-img" src="{% static 'img/fire-symbol.svg' %}" alt="">
                                    Хит
                                </span>
                            {% endif %}
                            <img class="img-fluid" src="{{ beer.image.url }}"
                                 alt="Заказать разливное крафтовое пиво {{ beer.name }} с доставкой в Казани">
                        </div>
                        <div class="product-caption">
                            <span class="name">{{ beer.name }} ({{ beer.fortress }}%)</span>
                            <span class="type">{{beer.beer_type }}/{{ beer.filtering_type }}</span>
                            <span class="price-line"><span class="price">{{ beer.price }}</span>pуб</span>

                            <div class="quantity-input">
                                <span class="decrease quantity-btn">-</span>
                                <input price="{{ beer.price }}" class="number" type="number"
                                        step="1" value="1" max="15" onkeypress="return false">
                                <span class="unit">л</span>
                                <span class="increase quantity-btn">+</span>
                                <button product-type="beer" product-id="{{ beer.id }}"
                                    url="{% url 'add-item' %}" class='to-cart'>
                                    <img class="cart-icon" src="{% static "img/shopping-cart-black-shape.svg" %}"
                                         alt="Иконка корзины для заказа в магазине крафтового и разливного пива с бесплатной доставкой Kraft Lobster"
                                         title="Добавить в корзину">
                                </button>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}

        <div class="snacks">
            <div class="products">
                {% for snack in products %}
                    <div class="product">
                        <a class='product-link' href="{{ snack.get_absolute_url }}">
                            <div class="product-image">
                                {% if snack.best_seller == True %}
                                    <span class="best-badge">
                                        <img class="badge-img" src="{% static 'img/fire-symbol.svg' %}" alt="">
                                        Хит
                                    </span>
                                {% endif %}
                                <img class="img-fluid" src="{{ snack.image.url }}"
                                     alt="Купить {{ snack.name }}. Закуска к разливному пиву с доставкой в Казани">
                            </div>
                            <div class="product-caption">
                                <span class="name">{{ snack.name }}</span>
                                <span class="price-line"><span class="price">{{ snack.price }}</span>руб</span>
                                <div class="quantity-input">
                                {% if snack.packed == True %}
                                    <span class="decrease quantity-btn">-</span>
                                    <input price="{{ snack.price }}" class="weight" type="number"
                                            step="100" value="100" min="100" max="1500" onkeypress="return false">
                                    <span class="unit">гр</span>
                                    <span class="increase quantity-btn">+</span>
                                {% else %}
                                    <span class="decrease quantity-btn">-</span>
                                    <input price="{{ snack.price }}" class="number" type="number"
                                            step="1" value="1" max="15" onkeypress="return false">
                                    <span class="unit">шт</span>
                                    <span class="increase quantity-btn">+</span>
                                {% endif %}
                                    <button product-type="snack" product-id='{{ snack.id }}'
                                url="{% url 'add-item' %}" class='to-cart'>
                                        <img class='cart-icon' src="{% static "img/shopping-cart-black-shape.svg" %}"
                                        alt="Иконка корзины для заказа в магазине крафтового и разливного пива с бесплатной доставкой Kraft Lobster"
                                        title="Добавить в корзину">
                                    </button>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% endif %}
    
</section>
    

{% endblock %}

{% block js %}
    <script src="{% static "js/catalog.js" %}"></script>
{% endblock %}